
body {
    margin: 0;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    background: 
        url("blue.jpg") no-repeat center center fixed,
        radial-gradient(circle at top left, #062037, #041429 70%);
    background-size: cover;
    background-blend-mode: overlay;
    color: #c9c9c9;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    width: 100%;
    background: #031325;
    border-bottom: 1px solid #0a2a4e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 18px 0;
}
.nav-container {
    width: 92%;
    margin: auto;

    display: flex;
    justify-content: space-between; 
    align-items: center;            
}
.nav-logo {
    font-size: 22px;
    font-weight: 600;
    white-space: nowrap;
}
.nav-logo span {
    color: #3bbcff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    white-space: nowrap; 
}
.nav-links li a {
    text-decoration: none;
    color: #d7e7ff;
    font-size: 16px;
    transition: 0.3s;
}
.nav-links li a:hover,
.nav-links li a.active {
    color: #3bbcff;
}
.hamburger {
    display: none !important;
}
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 40px; 
}
.hero h1 {
    font-size: 62px;
    font-weight: 700;
}
.hero-subtitle {
    margin-top: 10px;
    font-size: 20px;
    color: #62baff;
}
.quote {
    margin-top: 30px;
    font-size: 22px;
    font-style: italic;
    color: #cfe7ff;
}
.subtext {
    margin-top: 5px;
    opacity: 0.7;
}
.cta-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 28px;
    border: 1px solid #3bbcff;
    border-radius: 8px;
    background: transparent;
    color: #3bbcff;
    text-decoration: none;
    transition: 0.3s;
}
.cta-btn:hover {
    background: #3bbcff;
    color: #031325;
}
.section {
    padding: 90px 10%;
}
.title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    color: #e7f4ff;
}
.about-box {
    max-width: 900px;
    margin: auto;
    padding: 25px;
    background: rgba(255,255,255,0.05);
    border-radius: 18px;
    border: 1px solid rgba(59,188,255,0.2);
}
.subtitle {
    padding-bottom: 50px;;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #3bbcff;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}
.skill-card {
    padding: 18px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.2);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 17px;
}
.skill-card i {
    color: #3bbcff;
    font-size: 22px;
}
.soft {
    background: rgba(255,255,255,0.03);
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
}
.project-card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.2);
    border-radius: 12px;
    padding: 20px;
}
.project-img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 20px;
}
.tags span {
    display: inline-block;
    padding: 6px 14px;
    background: rgba(59,188,255,0.2);
    border: 1px solid #3bbcff;
    color: #3bbcff;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 13px;
}
.timeline {
    width: 70%;
    margin: auto;
    position: relative;
}
.timeline-dot {
    width: 14px;
    height: 14px;
    background: #3bbcff;
    border-radius: 50%;
    position: absolute;
    left: -7px;
}
.timeline-line {
    width: 2px;
    height: 200px;
    background: #3bbcff50;
    position: absolute;
    left: 0px;
    top: 14px;
}
.timeline-card {
    margin-left: 30px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.2);
}
.company {
    color: #62baff;
    margin-bottom: 12px;
}
.contact-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.2);
    border-radius: 10px;
    color: #ffffff !important;
    text-decoration: none;
}
.contact-form button {
    padding: 12px;
    background: #3bbcff;
    color: #031325;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}
.contact-info {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.contact-info i {
    margin-right: 10px;
    color: #3bbcff;
}
.contact-info-right a {
    color: #ffffff;        
    text-decoration: none;
    transition: 0.3s;
}
.contact-info-right a:hover {
    color: #ffffff ;
}
.contact-info-right a:visited {
    color: #ffffff ;     
}.contact-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}
#contact a {
    color: #ffffff !important;
    text-decoration: none !important;
}
#contact a:visited {
    color: #ffffff !important;
    text-decoration: none !important;
}
#contact a:hover {
    color: #ffffff !important;
}
.mail-info{
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.25);
    border-radius: 14px;
    padding: 18px 28px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35),
                0 0 15px rgba(59,188,255,0.25);
    transition: 0.3s;
}
.mail-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.45),
                0 0 22px rgba(59,188,255,0.45);
}.linkedin-info {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.25);
    border-radius: 14px;
    padding: 18px 28px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35),
                0 0 15px rgba(59,188,255,0.25);
    transition: 0.3s;
}
.linkedin-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.45),
                0 0 22px rgba(59,188,255,0.45);
}
.github-info {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,188,255,0.25);
    border-radius: 14px;
    padding: 18px 28px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.35),
                0 0 15px rgba(59,188,255,0.25);
    transition: 0.3s;
}
.github-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.45),
                0 0 22px rgba(59,188,255,0.45);
}
.footer {
    margin-top: 190px;
    padding-top: 10px;
    text-align: center;
    opacity: 0.6;
    font-size: 14px;
}


.skill-card{
    background: rgba(255,255,255,0.05);           /* blue border */
    border-radius: 14px;
    padding: 20px;
    backdrop-filter: blur(6px);                   /* glass blur */
    box-shadow: 0 8px 25px rgba(0,0,0,0.35), 
                0 0 18px rgba(59,188,255,0.25);  /* elevated glow */

    transition: 0.4s;
}

.skill-card:hover {
    transform: translateY(-10px);                 /* small lift */
    box-shadow: 0 12px 30px rgba(0,0,0,0.45),
                0 0 25px rgba(59,188,255,0.45);  /* stronger glow */
}

